In [2]:
list=[1,2,3,4,5]
squared_list=[val**2 for val in list]
squared_list

[1, 4, 9, 16, 25]

In [11]:
list=[4,6,8,1,4,5,9]
cube_list=[val**3 for val in list]
cube_list.sort()
cube_list

[1, 64, 64, 125, 216, 512, 729]

In [20]:
dict = {"Name":"John","Age":49,"Sector": "IT"}
dict.clear()
dict = {sum:(sum+sum)**2 for sum in range(1,20)}
dict

{1: 4,
 2: 16,
 3: 36,
 4: 64,
 5: 100,
 6: 144,
 7: 196,
 8: 256,
 9: 324,
 10: 400,
 11: 484,
 12: 576,
 13: 676,
 14: 784,
 15: 900,
 16: 1024,
 17: 1156,
 18: 1296,
 19: 1444}

In [22]:
s = {x for x in range(1,31)}
s

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30}