In [1]:
s = ("tony","pony","jony")
s

('tony', 'pony', 'jony')

In [7]:
s.count("tony")
s.index("tony")

0

In [10]:
d = {"Name" : "Jony D","Age" : 69,"Employer": "blue diamond"}
d

{'Age': 69, 'Employer': 'blue diamond', 'Name': 'Jony D'}

In [13]:
d.items()

dict_items([('Name', 'Jony D'), ('Age', 69), ('Employer', 'blue diamond')])

In [11]:
d.get("Name")

'Jony D'

In [14]:
d.values()

dict_values(['Jony D', 69, 'blue diamond'])

In [44]:
d.update({"Age": 70})
d.values()

dict_values(['Jony D', 70, 'blue diamond'])

In [40]:
d1 = d.copy()
d1

{'Age': 70, 'Employer': 'blue diamond', 'Name': 'Jony D'}

In [42]:
d1.update({"Age" : 65, "Employer": "Bradman", "Name" : "Kali Desouza"})
d1.values()

dict_values(['Kali Desouza', 65, 'Bradman'])

In [45]:
d1.clear()
d1

{}